<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row">
        <div class="col-12">
            <div class="card p-4 border-primary">
                <div class="text-center border-bottom border-primary pb-3 mb-3">
                    <h1>Signup Area</h1>
                    <h5>Create account</h5>
                </div>
                <form action="">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Name</label>
                        <input type="text" class="form-control border-primary" id="formGroupExampleInput" placeholder="Name">
                      </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Mobile</label>
                        <input type="text" class="form-control border-primary" id="formGroupExampleInput" placeholder="Mobile">
                      </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Email</label>
                        <input type="text" class="form-control border-primary" id="formGroupExampleInput" placeholder="Email">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Password</label>
                        <input type="text" class="form-control border-primary" id="formGroupExampleInput2" placeholder="Password">
                      </div>
                      <button class="btn btn-primary w-100">Signup</button>
                </form>
            </div>
        </div>
        <div class="col-12 text-center">
            <a class="text-black d-inline-block mt-2 text-decoration-none" routerLink="/login">Already user? <span class="text-primary">Click to Login</span></a>
        </div>
    </div>
</div>
